include README.md
include .flake8

recursive-include tests *
recursive-include requirements *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.md tasks.py *.jpg *.png *.gif *.in all.txt
